{% include "electoral_data/header.html" %}
<div class="alert alert-info">
    <p>Choose the Assembly Constituency below</p>
</div>
<div class="row">
	<div class="list-group">
		{% if assembly_list %}
		    {% for AssemblyConstituency in assembly_list %}
		        <a href="{% url 'electoral_data.views.polling' AssemblyConstituency.constituency_no %}" class="list-group-item">{{ AssemblyConstituency.name | title}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
		    {% endfor %}
		{% else %}
		    	<p>No LS seats are available.</p>
		{% endif %}
	</div>
</div>
{% include "electoral_data/footer.html" %}