{% include "electoral_data/header.html" %}
<div class="alert alert-info">
    <p>Here are the citizen details</p>
</div>
{% if citizens_list %}
<div class="table">
	<table class = "table table-bordered table-hover">
		<thead>
			<tr>
				<th>Part Np</th>
				<th>Serial Np</th>
				<th>House No.</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{% for Citizen in citizens_list %}
				{% if Citizen.processed %}
					<tr class="success clickableRow" href="{% url 'electoral_data.views.detail' Citizen.id %}">
				{% else %}
					<tr class="clickableRow" href="{% url 'electoral_data.views.detail' Citizen.id %}">
				{% endif %}
						<td>
							{{ Citizen.part_no }}
						</td>
						<td>
							{{ Citizen.serial_no }}
						</td>
						<td>
							{{ Citizen.house_no }}
						</td>
						<td>
							{{ Citizen.name | title }}
						</td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<form action="/citizens/{{polling_station}}/" method="post" class="form-horizontal" role="form">
	{% csrf_token %}
	<input type="hidden" name="processed" value="1">
	<div class="form-group spacer">
	    <div class="col-sm-offset-5 col-sm-12">
	      <input type="submit" class="btn btn-success btn-lg" value="Mark as done">
	    </div>
	</div>
</form>
{% else %}
   	<p>No LS seats are available.</p>
{% endif %}
{% include "electoral_data/footer.html" %}