{% include "electoral_data/header.html" %}
<div class="alert alert-info">
    <p>Here are the citizen details</p>
</div>
{% if citizens_list %}
<table class = "table table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>House No.</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{% for Citizen in citizens_list %}
			{% if Citizen.processed %}
				<tr class="success clickableRow" href="/view/detail/{{ Citizen.id }}">
			{% else %}
				<tr class="clickableRow" href="/view/detail/{{ Citizen.id }}">
			{% endif %}
					<td>
						{{ Citizen.id }}
					</td>
					<td>
						{{ Citizen.house_no }}
					</td>
					<td>
						{{ Citizen.name | title }}
					</td>
				</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
   	<p>No LS seats are available.</p>
{% endif %}
{% include "electoral_data/footer.html" %}