{% include "electoral_data/header.html" %}
{% if citizen_details %}
	{% for Citizen in citizen_details %}
		<h3>{{Citizen.name | title}}</h3>
		<div class="table-resposive">
			<table class="table table-bordered">
				<thead>
					<th>House no</th>
					<th>Voter ID</th>
					<th>Age</th>
					<th>Gender</th>
				</thead>
				<tbody>
					<tr>
						<td>{{Citizen.house_no}}</td>
						<td>{{Citizen.voter_id}}</td>
						<td>{{Citizen.age}}</td>
						<td>{{Citizen.sex | title}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %}
{% else %}
    <p>Error.</p>
{% endif %}
{% include "electoral_data/footer.html" %}