<head>
    <title>AAP Mahrashtra Electoral Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="//bootswatch.com/spacelab/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//bootswatch.com/readable/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//bootswatch.com/lumen/bootstrap.min.css"> -->
    <style type="text/css">
    	.noBackground {
    		background-image: none;
    	}
    	.spacer {
    		margin-top: 40px;
    	}
        .smallspacer {
            margin-top: 15px;
        }
        #memberFields,#donorFields,#volunteerFields {
            display:none;
        }
        hr {
            margin-top: 24px;
            margin-bottom: 24px;
        }
        .clickableRow {
            cursor: pointer;
        }
    </style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>AAP Maharashtra Electoral Data tool</h1>
		</div>