{% include "electoral_data/header.html" %}
<div class="alert alert-info">
    <p>Choose the Polling Station below</p>
</div>
<div class="container">
	<div class="row">
		<div class="list-group">
			{% if polling_list %}
			    {% for PollingStation in polling_list %}
			    	<a href="{% url 'electoral_data.views.part' PollingStation.id %}" class="list-group-item">{{ PollingStation.name | title }} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
			    {% endfor %}
			{% else %}
			    <p>No LS seats are available.</p>
			{% endif %}
		</div>
	</div>
</div>
{% include "electoral_data/footer.html" %}