{% include "electoral_data/header.html" %}
<h3>{{polling_station.name | title}}</h3>
<div class="alert alert-info">
    <p>Choose the Society below</p>
</div>
{% if societies_list %}
<div class="table">
	<table class="table table-bordered table-hover">
		<thead>
			<th>Society no</th>
			<th>Society Address</th>
		</thead>
		<tbody>
			{% for Society in societies_list %}
				{% if Society.processed %}
					<tr class="clickableRow success" href="/view/citizens/{{ Society.society_no }}/">
				{% else %}
					<tr class="clickableRow" href="/view/citizens/{{ Society.society_no }}/">
				{% endif %}
						<td>{{Society.society_no}}</td>
						<td>{{Society.address | title}}</td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
    <p>No LS seats are available.</p>
{% endif %}
{% include "electoral_data/footer.html" %}